extends layout

block content
    h1= title
    br
    a(href='/uploadFile') Upload Grade Files
    br
    a(href='/uploadText') Input Grade Text
    br
    a(href='/Grades') Show Grades
    br
    a(href='/Clear') Clear Grades