html
  head
    title Upload Grades File
  body
    h1 Upload Grades File
    form(action="/fileupload" method="post" enctype="multipart/form-data")
      p
        | Grades File: 
        input(type='file', name='filetoupload')
      input(type='submit', value='Submit')
    br
    a(href='/back') Back
    p Hi! I have disabled the redirect for this when the upload finishes. The reason for this is the heroku connect
    p free version does not allow to update the node version they use. This part works locally on my machine to redirect to the main page.
    p Kindly just refer back to 
    a(href='https://gradeapp-mr.herokuapp.com/') https://gradeapp-mr.herokuapp.com/ 
    p once the upload finishes.
    p If you want to try locally kindly use the VS solution attached on the email.
    p Issue was indicated on this version:
    a(href='https://github.com/npm/npm/issues/19989') https://github.com/npm/npm/issues/19989